<div id="showcase">
    <div id="left">
        <div id="logo">
            <h3>Dayvon's Blog</h3>
        </div>
        <div id="head">
            <h3>A variety of posts</h3>
        </div>
        <div id="small-text">
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Tempore facere unde quasi non quos eligendi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>At fuga asperiores autem enim, maxime veritatis.</small>
        </div>
        <div id="newsletter">
            <p>Join our mailing list</p>
            <div id="input-group">
            <input id="email" type="email" placeholder="jdoe@gmail.com">
            <button id="subscribe">Subscribe</button>
        </div>
        </div>
    </div>
    <div id="right">
        <img src="../../../assets/Image from iOS.png" alt="computer">
    </div>
</div>
<app-body></app-body>